h1 {
  text-align: center;
  margin-bottom: 15px;
}

.Signup {
  width: 70%;
  padding: 100px;
  margin: auto;
}

.Button {
  float: right;
  margin-left: 10px;
}

.Link {
  text-decoration: none;
}

@media (max-width: 750px) {
  .Signup {
    width: 100%;
    padding: 4rem 2rem;
    margin: auto;
  }

  .Button {
    float: right;
    margin-left: 10px;
  }
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 992px) {
  .login-website-logo-mobile-image {
    display: none;
  }
}

.login-image {
  width: 278px;
}

@media screen and (min-width: 992px) {
  .login-image {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.login-website-logo-desktop-image {
  width: 185px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.password-input-field {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.upload-image{
  width: 194px;
  height: 190px;
  background: var(--unnamed-color-f4f4f4) 0% 0% no-repeat padding-box;
  background: #F4F4F4 0% 0% no-repeat padding-box;
  border: 1px solid #D8D8D8;
  border-radius: 18px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-18)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-c9c9c9);
  text-align: center;
  font: normal normal medium 18px/27px Poppins;
  letter-spacing: 0px;
  color: #C9C9C9;
  padding: 25px;
  opacity: 1;
}

.generate-error-message {
  align-self: center;
  flex-wrap: wrap;
  font-size: 12px;
  margin-left: -180px;
  margin-top: 5px;
  margin-bottom: 0px;
  font: 12px Poppins;
  line-height: 16px;
  color: #ff0b37;
}

input[type="file"] {
  display: none;
}

.upload-image-container{
  border: 1px solid #D8D8D8;
  border-radius: 18px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
}

.change-image-button{
  width: 134px;
  height: 34px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 17px;
  opacity: 0.58;
  letter-spacing: var(--unnamed-character-spacing-0);
  font: normal normal 600 13px/20px Poppins;
  letter-spacing: 0px;
  color: #00468D;
  text-align: center;
  padding-left: 18px;
  margin-bottom: 5px;
}

.uploaded-image{
  width: 194px;
  height: 190px;   
}
